<div class="game-menu">
	<button class="btn btn-default" data-ng-click="endTurn()" data-ng-hide="waitingForOtherPlayers" data-ng-disabled="blockingActionInProgress || game.status === 'OVER'"><span class="shortcut">E</span>nd turn #{{game.turnNumber}}</button>
	<button class="btn btn-default" data-ng-click="quitGame()">Quit game</button>
</div>
<div class="game-status-bar" data-ng-class="{'friendly-foreground': game.me.status === 'PLAYING' || game.me.status === 'READY' , 'neutral': game.me.status === 'QUIT' || game.me.status === 'DEFEATED'}">
	<span>{{game.me.name}}</span>
	<span class="pull-right">Credits: {{game.me.credits}}</span>
</div>
<div class="ingame-screen">
	<div class="blocking-overlay" data-ng-show="waitingForOtherPlayers"><i class="glyphicon glyphicon-refresh gly-spin"></i> Waiting for other players...</div>
	<div class="planet"
	     data-ng-repeat="planet in game.universe.planets track by planet.id"
	     data-ng-class="{'friendly': planet.inhabitedByMe, 'enemy': planet.knownAsEnemyPlanet, 'neutral': !planet.inhabitedByMe&&!planet.knownAsEnemyPlanet}"
	     data-ng-click="clickPlanetHandler($index)"
	     style="top: {{planet.y / 100 * 334 - 7}}px; left: {{planet.x / 100 * 524 - 8}}px;">

		<div class="object-icon" data-ng-class="{'under-attack': planet.underAttack, 'just-inhabited': planet.justInhabited}">
			<span class="glyphicon glyphicon-globe" data-ng-show="!destinationSelectionActive"></span>
			<span class="glyphicon glyphicon-record" data-ng-show="destinationSelectionActive"></span>
		</div>

		<div class="object-annotation object-annotation-top-right" data-ng-if="planet.myHomePlanet">
			<span class="glyphicon glyphicon-home"></span>
		</div>
		<div class="object-annotation-xs object-annotation-top" data-ng-if="planet.inhabitedByMe">
			<span class="glyphicon glyphicon-unchecked" data-ng-repeat="i in getNumber(planet.factorySite.factoryCount) track by $index"></span>
		</div>
		<div class="object-annotation object-annotation-bottom-left" data-ng-if="planet.incomingShipCount>0">
			<span class="glyphicon glyphicon-share-alt"></span><br/>{{planet.incomingShipCount}}
		</div>
		<div class="object-annotation object-annotation-bottom-right" data-ng-if="planet.shipCount>0">
			{{planet.shipCount}}
		</div>
	</div>
	<div class="travellingShip friendly-foreground"
	     data-ng-repeat="ships in game.universe.travellingShipFormations track by $index"
	     data-ng-hide="ships.distanceTravelled===0"
	     style="top: {{ships.positionY / 100 * 334 - 7}}px; left: {{ships.positionX / 100 * 524 - 8}}px;">

		<div class="object-icon">
			<span class="glyphicon glyphicon-send"></span>
		</div>

		<div class="object-annotation object-annotation-bottom-right" data-ng-if="ships.shipCount>0">
			{{ships.shipCount}}
		</div>
	</div>

	<div class="outer" data-ng-show="showTurnEvents"><div class="middle">
		<div class="ingame-menu inner form-horizontal">
			<button data-ng-click="showTurnEvents=false" type="button" class="close"><span>&times;</span></button>

			<div data-ng-show="game.turnNumber === 1">
				<h3>Your mission</h3>
				<ul class="paragraph list-unstyled">
					<li>Find and conquer all enemy home planets!</li>
				</ul>
			</div>

			<div data-ng-show="game.status === 'OVER' && game.me.status === 'PLAYING'" class="friendly-foreground">
				<h3>You win the game!</h3>
				<ul class="paragraph list-unstyled">
					<li>All of your enemies home planets have been conquered!</li>
				</ul>
			</div>

			<div data-ng-show="game.me.status === 'DEFEATED'" class="enemy-foreground">
				<h3>You lose!</h3>
				<ul class="paragraph list-unstyled">
					<li>Your home planet has been conquered by enemy ships.</li>
				</ul>
			</div>

			<div data-ng-show="game.me.status === 'PLAYING' && game.turnNumber > 1">
				<h3>Recent events (Turn #{{game.turnNumber - 1}})</h3>
				<ul class="paragraph list-unstyled">
					<li data-ng-show="!game.previousTurnEvents.hasEvents">No enemy contact</li>
					<li data-ng-show="game.previousTurnEvents.conqueredEnemyPlanets > 0" class="friendly-foreground">You conquered {{game.previousTurnEvents.conqueredEnemyPlanets}} enemy planets!</li>
					<li data-ng-show="game.previousTurnEvents.conqueredUninhabitedPlanets > 0" class="friendly-foreground">You inhabited {{game.previousTurnEvents.conqueredUninhabitedPlanets}} uninhabited planets.</li>
					<li data-ng-show="game.previousTurnEvents.lostShipFormations > 0" class="enemy-foreground">You lost contact to {{game.previousTurnEvents.lostShipFormations}} ship formations that invaded foreign planets!</li>
					<li data-ng-show="game.previousTurnEvents.defendedPlanets > 0" class="enemy-foreground">{{game.previousTurnEvents.defendedPlanets}} enemy ship formations attacked your planets, but your fleet was able to stand their ground.</li>
					<li data-ng-show="game.previousTurnEvents.lostPlanets > 0" class="enemy-foreground">Enemy ships conquered {{game.previousTurnEvents.lostPlanets}} of your planets!</li>
				</ul>
			</div>
			<button data-ng-click="showTurnEvents=false"  class="btn btn-default">Ok</button>
		</div>
	</div></div>

	<div class="outer" data-ng-show="showPlanetMenu"><div class="middle">
		<div class="ingame-menu inner">
			<button data-ng-click="showPlanetMenu=false" type="button" class="close"><span>&times;</span></button>

			<div class="row vert-separated">
				<div class="col-xs-6">
					<div class="form-group">
						<h4>Factories</h4>
					</div>
					<div class="form-group">
						<div class="factory-slot" data-ng-repeat="i in getNumber(game.universe.planets[selectedPlanetIndex].factorySite.factoryCount) track by $index">
							<img src="img/factory.svg" height="19px" width="19px">
						</div>
						<div class="factory-slot" data-ng-repeat="i in getNumber(game.universe.planets[selectedPlanetIndex].factorySite.availableSlots) track by $index">
							&nbsp;
						</div>
					</div>
					<div class="form-group">
						<label for="prodFocus">Production/turn</label>
						<div class="row">
							<div class="col-xs-1"><span class="glyphicon glyphicon-usd"></span></div>
							<div class="col-xs-8">
								<input id="prodFocus" type="range" data-ng-model="productionFocus" data-ng-change="changeProductionFocusOnSelectedPlanet()"
								       min="0" max="20">
							</div>
							<div class="col-xs-1"><span class="glyphicon glyphicon-send"></span></div>
						</div>
						<div>
							Credits: {{game.universe.planets[selectedPlanetIndex].factorySite.producedCreditsPerTurn}}
							-
							Ships: {{game.universe.planets[selectedPlanetIndex].factorySite.producedShipsPerTurn | number: 2}}
						</div>
					</div>
					<div class="form-group">
						<div>
							<button data-ng-click="buildFactoryOnSelectedPlanet()" data-ng-disabled="game.universe.planets[selectedPlanetIndex].factorySite.availableSlots===0 || !game.me.canAffordFactory" class="btn btn-default">
								Build <span class="shortcut">F</span>actory
							</button>
						</div>
						<div data-ng-class="{'error-msg': !game.me.canAffordFactory}">
							{{game.me.credits}} / 100 credits
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<form name="sendShipsForm">
						<div class="form-group">
							<h4>Send ships to other planets</h4>
						</div>
						<div class="form-group row">
							<div class="col-xs-1">1</div>
							<div class="col-xs-8">
								<input type="range" name="ships" data-ng-model="shipCount"
								       min="1" max="{{game.universe.planets[selectedPlanetIndex].shipCount}}">
							</div>
							<div class="col-xs-1">{{game.universe.planets[selectedPlanetIndex].shipCount}}</div>
						</div>
						<div class="form-group">
							<button class="btn btn-default" data-ng-click="prepareSendShips()" data-ng-disabled="shipCount===0 || !sendShipsForm.$valid">
								<span class="shortcut">S</span>end {{shipCount}} ships to...
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div></div>
</div>

<div class="other-players-status-bar" data-ng-show="game.otherPlayers.length > 1 || game.otherPlayers[0].humanPlayer">
	<ul class="list-inline">
		<li data-ng-class="{'enemy-foreground': otherPlayer.status === 'PLAYING' || otherPlayer.status === 'READY' , 'neutral': otherPlayer.status === 'QUIT' || otherPlayer.status === 'DEFEATED'}"
		    data-ng-repeat="otherPlayer in game.otherPlayers track by otherPlayer.name">
			<span data-ng-show="otherPlayer.status === 'PLAYING'" class="player-indicator"><i class="glyphicon glyphicon-refresh gly-spin"></i></span>
			<span>{{otherPlayer.name}}</span>
		</li>
	</ul>
</div>