<div class="ingame-screen">
	<div class="outer"><div class="middle">
		<div class="ingame-menu inner form-horizontal">
			<a  href="/#/" type="button" class="close"><span>&times;</span></a>

			<h3>Join existing game</h3>

			<!-- TODO allow player to use different name, if it wasn't unique (in error case) -->

			<form name="joinCodeForm">
				<div class="form-group" data-ng-class="{'has-error': !joinCodeForm.$valid || joinGameError}">
					<div class="col-xs-6 col-xs-offset-3">
						<label for="codeInput">Enter the join code:</label>
						<input id="codeInput" name="code" data-ng-model="joiningPlayerCode" autofocus="autofocus" placeholder="e.g. yx45ab" pattern="[A-Za-z0-9]{6}" maxlength="6" required="required" class="form-control"/>
					</div>
					<label for="codeInput" data-ng-if="joinGameError" class="error-msg">{{joinGameError}}</label>
				</div>

				<div class="form-group">
					<button class="btn btn-default" data-ng-click="tryToJoinGame()" data-ng-disabled="!joinCodeForm.$valid" type="submit">Join game</button>
					<button class="btn btn-default" data-ng-click="createNewGame()">Start own game</button>
				</div>
			</form>
		</div>
	</div></div>
</div>