<div class="ingame-screen">
	<div class="outer"><div class="middle">
		<div class="ingame-menu inner form-horizontal">
			<button type="button" data-ng-click="cancelGameSetup()" class="close"><span>&times;</span></button>

			<h3>Players</h3>

			<div class="form-group">
				<div class="paragraph">
					Other players can join this game by using a code
				</div>
				<div id="join-code" class="text-uppercase paragraph selectable">
					<span data-ng-repeat="code in activeJoinCodes">{{code}}{{$last ? '' : ', '}}</span>
				</div>
				<div>
					<button class="btn btn-default btn-sm" data-ng-click="requestJoinCode()" data-ng-disabled="5 === activeJoinCodes.length">Request code</button>
					<button class="btn btn-default btn-sm" data-ng-click="addComputerPlayer()" data-ng-disabled="5 === game.otherPlayers.length"><span class="shortcut">A</span>dd Computer Player</button>
					<div data-ng-if="requestJoinCodeError" class="error-msg">{{requestJoinCodeError}}</div>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-xs-12">
					<div class="player-slot col-xs-6 friendly-foreground">
						<span data-ng-show="game.me.status !== 'READY'"><i class="glyphicon glyphicon-refresh gly-spin"></i></span>
						<span data-ng-show="game.me.status === 'READY'"><i class="glyphicon glyphicon-ok"></i></span>
						<span>{{game.me.name}}</span>
					</div>
					<div class="player-slot col-xs-6 enemy-foreground" data-ng-repeat="otherPlayer in game.otherPlayers track by otherPlayer.name">
						<span data-ng-show="otherPlayer.status !== 'READY'"><i class="glyphicon glyphicon-refresh gly-spin"></i></span>
						<span data-ng-show="otherPlayer.status === 'READY'"><i class="glyphicon glyphicon-ok"></i></span>
						{{otherPlayer.name}}
					</div>
					<div class="player-slot col-xs-6" data-ng-repeat="i in getNumber(5 - game.otherPlayers.length) track by $index">
						&nbsp;
					</div>
				</div>
			</div>

			<div>
				<button class="btn btn-default" data-ng-click="startGame()" data-ng-hide="waitingForOtherPlayers"><span class="shortcut">P</span>lay!</button>
				<div data-ng-if="startGameError" class="error-msg">{{startGameError}}</div>
				<div data-ng-show="waitingForOtherPlayers"><i class="glyphicon glyphicon-refresh gly-spin"></i> Waiting for other players...</div>
			</div>
		</div>
	</div></div>
</div>