html, body {
	height: 100%;
	background: rgb(85, 88, 94);
	background: -moz-radial-gradient(center, ellipse cover, rgba(85, 88, 94, 1) 0%, rgba(0, 0, 0, 1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(85, 88, 94, 1)),
		color-stop(100%, rgba(0, 0, 0, 1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(85, 88, 94, 1) 0%, rgba(0, 0, 0, 1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(85, 88, 94, 1) 0%, rgba(0, 0, 0, 1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(85, 88, 94, 1) 0%, rgba(0, 0, 0, 1) 100%);
	background: radial-gradient(ellipse at center, rgba(85, 88, 94, 1) 0%, rgba(0, 0, 0, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55585e', endColorstr='#000000', GradientType=1);
	font-family: Silkscreen, Arial, sans-serif;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.selectable{
	-webkit-touch-callout: default;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.paragraph {
	font-family: Munro, Arial, sans-serif;
}

.error-msg {
	color: #a94442
}

@font-face {
	font-family: 'Silkscreen';
	src: url(../fonts/slkscr.ttf) format('truetype');
}

@font-face {
	font-family: 'Munro';
	src: url(../fonts/Munro.ttf) format('truetype');
}

@media ( min-width : 992px) {
	/* Show keyboard shortcuts on desktop only */
	.shortcut {
		text-decoration: underline;
	}
}

input {
	text-align: center;
}

.gly-spin {
	-webkit-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.outer {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
}

.middle {
	display: table-cell;
	vertical-align: middle;
}

.inner {
	margin: 5px auto 5px;
	text-align: center;
}

#game-box {
	width: 600px;
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5);
	padding: 30px 30px 0;
	float: none;
	border-radius: 5px;
	background: #f0f0f0;
}

h1 {
	margin: 0 0 25px;
}

#copyright {
	font-size: x-small;
	margin-top: 16px;
	text-align: right;
}

/* Game screen */
.game-menu {

}

.player-slot {
	display: inline-block;
	border-radius: 4px;
	position: relative;
  padding: 6px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.player-indicator {
	padding-left: 6px;
}

#join-code {
	font-size: 150%;
}

/* In-Game screen */
.game-status-bar {
	text-align: left;
}
.other-players-status-bar {
	text-align: center;
}

.ingame-screen {
	height: 350px;
	width: 540px;
	background-color: black;
	position: relative;
}

.blocking-overlay{
	height: 100%;
	width: 100%;
	position: relative;
	z-index: 1000;
  background: rgba(0, 0, 0, 0.6);
  color: #f0f0f0;
}

.planet {
	position: absolute;
	vertical-align: central;
	cursor: pointer;
	z-index: 5;
}

.travellingShip {
	position: absolute;
	vertical-align: central;
}

.friendly {
	color: #aaf;
}

.friendly-foreground {
	color: #3e3e97;
}

.enemy {
	color: #f88;
}

.enemy-foreground {
	color: #973e3e;
}

.neutral {
	color: #aaa;
}

.just-inhabited {
	-webkit-animation: flash-neutral 1s infinite;
	animation: flash-neutral 1s infinite;
}
@-webkit-keyframes flash-neutral {
  0% {
		color: #aaf;
  }
  33% {
		color: #777;
  }
  100% {
		color: #aaf;
  }
}
@keyframes flash-neutral {
  0% {
		color: #aaf;
  }
  33% {
		color: #777;
  }
  100% {
		color: #aaf;
  }
}

.under-attack {
	-webkit-animation: flash-enemy 500ms infinite;
	animation: flash-enemy 500ms infinite;
}
@-webkit-keyframes flash-enemy {
  0% {
		color: #aaf;
  }
  60% {
		color: #aaf;
  }
  80% {
		color: #f88;
  }
  100% {
		color: #aaf;
  }
}
@keyframes flash-enemy {
  0% {
		color: #aaf;
  }
  60% {
		color: #aaf;
  }
  80% {
		color: #f88;
  }
  100% {
		color: #aaf;
  }
}

.object-icon {
	width: 15px;
	height: 15px;
	margin: 7px;
}

.object-annotation {
	font-size: 8px;
	position: absolute;
}

.object-annotation-xs {
	font-size: 4px;
	position: absolute;
}

.object-annotation-top {
	top: 0;
}

.object-annotation-top-left {
	top: 0;
	left: 0;
}

.object-annotation-top-right {
	top: 0;
	right: 0;
}

.object-annotation-bottom-left {
	bottom: 0;
	left: 0;
}

.object-annotation-bottom-right {
	bottom: 0;
	right: 0;
}

.ingame-menu {
	position: relative;
	width: 90%;
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5);
	padding: 10px;
	float: none;
	border-radius: 5px;
	background: #f0f0f0;
	z-index: 10;
}

.vert-separated>div:not(:last-child) {
	border-right: #ddd solid;
}

.factory-slot {
	height: 25px;
	width: 25px;
	border: 1px solid #333;
	margin: 0 2px;
	padding: 2px;
	display: inline-block;
}