<!doctype html>
<html lang="en" ng-app="fleetCommanderApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<title>Fleet Commander</title>
	
	<link rel="shortcut icon" href="resources/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="resources/img/favicon.ico" type="image/x-icon">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="resources/css/layout.css">
</head>
<body ng-controller="GamesCtrl">
	<div class="outer">
		<div class="middle">
			<div id="game-box" class="inner">
				<h1>Fleet Commander</h1>
				
				<div ng-show="gameScreen == 'home'">
					<p class="paragraph">
						Conquer the universe by growing your own fleet of space fighters
						to invade other player's planets in this turn-based strategy game!
					</p>
					<p class="paragraph">
						You win the game by defeating your opponent fleet commanders
						by taking over their home planets!
					</p>
					
					<button class="btn btn-default" ng-click="resumeGame()" ng-if="hasActiveGame()">{{'Resume game'}}</button>
					<button class="btn btn-default" ng-click="createNewGame()">Start new game!</button>
				</div>
				
				<div ng-show="gameScreen == 'players'">
					<div class="game-menu">
						<button class="btn btn-default" ng-click="startGame()">Play!</button>
					</div>
					
					<div class="game-status-bar">
						&nbsp;
					</div>
					
					<div class="ingame-screen">
						<div class="outer"><div class="middle">
							<div class="ingame-menu inner form-horizontal">
								<button ng-click="quitGame()" type="button" class="close"><span>&times;</span></button>
								<div class="form-group">
									<h4>Players</h4>
								</div>
								
								<div class="form-group">
									<button class="btn btn-default" ng-click="addComputerPlayer()" ng-disabled="5 == game.otherPlayers.length">Add Computer Player</button>
								</div>
								
								<div class="form-group">
									<div class="col-xs-10 col-xs-offset-1">
										<div class="player-slot col-xs-6 list-group-item friendly-dark">
											{{game.me.name}}
										</div>
										<div class="player-slot col-xs-6 list-group-item enemy-dark" ng-repeat="otherPlayer in game.otherPlayers">
											{{otherPlayer.name}}
										</div>
										<div class="player-slot col-xs-6 list-group-item" ng-repeat="i in getNumber(5 - game.otherPlayers.length) track by $index">
											&nbsp;
										</div>
									</div>
								</div>
							</div>
						</div></div>
					</div>
					
				</div>
				
				<div ng-show="gameScreen == 'ingame'">
					<div class="game-menu">
						<button class="btn btn-default" ng-click="endTurn()" ng-disabled="blockingActionInProgress || game.status == 'OVER'">End turn</button>
						<button class="btn btn-default" ng-click="quitGame()">Quit game</button>
					</div>
					<div class="game-status-bar">
						<span>{{game.me.name}}</span>
						<span class="pull-right">Credits: {{game.me.credits}}</span>
					</div>
					<div class="ingame-screen">
						<div class="space-object"
								ng-repeat="planet in game.universe.planets track by planet.id"
								ng-class="{'friendly': planet.inhabitedByMe, 'enemy': planet.knownAsEnemyPlanet, 'planet-uninhabited': !planet.inhabitedByMe&&!planet.knownAsEnemyPlanet}"
								ng-click="clickPlanetHandler(planet)"
								style="top: {{planet.y / 100 * 334 - 7}}px; left: {{planet.x / 100 * 524 - 8}}px;">
							
							<div class="object-icon">
								<span class="glyphicon glyphicon-globe"></span>
							</div>
							
							<div class="object-annotation object-annotation-top-left" ng-if="planet.inhabitedByMe">
								<span class="glyphicon glyphicon-flag"></span>
							</div>
							<div class="object-annotation object-annotation-top-right" ng-if="planet.myHomePlanet">
								<span class="glyphicon glyphicon-home"></span>
							</div>
							<div class="object-annotation object-annotation-bottom-left" ng-if="planet.incomingShipCount>0">
								<span class="glyphicon glyphicon-share-alt"></span><br/>{{planet.incomingShipCount}}
							</div>
							<div class="object-annotation object-annotation-bottom-right" ng-if="planet.shipCount>0">
								{{planet.shipCount}}
							</div>
						</div>
						<div class="space-object friendly"
								ng-repeat="ships in game.universe.travellingShipFormations"
								ng-hide="ships.distanceTravelled==0"
								style="top: {{ships.positionY / 100 * 334 - 7}}px; left: {{ships.positionX / 100 * 524 - 8}}px;">
							
							<div class="object-icon">
								<span class="glyphicon glyphicon-send"></span>
							</div>
							
							<div class="object-annotation object-annotation-bottom-right" ng-if="ships.shipCount>0">
								{{ships.shipCount}}
							</div>
						</div>
						
						<div class="select-planet-note" ng-show="destinationSelectionActive">
							Select a destination planet...
						</div>
						
						<div class="outer" ng-show="showTurnEvents"><div class="middle">
							<div class="ingame-menu inner form-horizontal">
								<button ng-click="showTurnEvents=false" type="button" class="close"><span>&times;</span></button>
								
								<div ng-show="game.status == 'OVER' && game.me.active">
									<h3>You win the game!</h3>
									<ul class="paragraph list-unstyled friendly-dark">
										<li>All of your enemies home planets have been conquered!</li>
									</ul>
								</div>
								
								<div ng-show="!game.me.active">
									<h3>You lose!</h3>
									<ul class="paragraph list-unstyled enemy-dark">
										<li>Your home planet has been conquered by enemy ships.</li>
									</ul>
								</div>
								
								<div ng-show="game.status != 'OVER'">
									<h3>Recent events</h3>
									<ul class="paragraph list-unstyled">
										<li ng-show="!game.previousTurnEvents.hasEvents">Nothing exciting happened...</li>
										<li ng-show="game.previousTurnEvents.conqueredEnemyPlanets > 0" class="friendly-dark">You conquered {{game.previousTurnEvents.conqueredEnemyPlanets}} enemy planets!</li>
										<li ng-show="game.previousTurnEvents.conqueredUninhabitedPlanets > 0" class="friendly-dark">You inhabited {{game.previousTurnEvents.conqueredUninhabitedPlanets}} uninhabited planets.</li>
										<li ng-show="game.previousTurnEvents.lostShipFormations > 0" class="enemy-dark">You lost contact to {{game.previousTurnEvents.lostShipFormations}} ship formations that invaded foreign planets!</li>
										<li ng-show="game.previousTurnEvents.defendedPlanets > 0" class="enemy-dark">{{game.previousTurnEvents.defendedPlanets}} enemy ship formations attacked your planets, but your fleet was able to stand their ground.</li>
										<li ng-show="game.previousTurnEvents.lostPlanets > 0" class="enemy-dark">Enemy ships conquered {{game.previousTurnEvents.lostPlanets}} of your planets!</li>
									</ul>
								</div>
								<button ng-click="showTurnEvents=false"  class="btn btn-default">Ok</button>
							</div>
						</div></div>
						
						<div class="outer" ng-show="showPlanetMenu"><div class="middle">
							<div class="ingame-menu inner form-horizontal">
								<button ng-click="showPlanetMenu=false" type="button" class="close"><span>&times;</span></button>
								<div class="form-group">
									<h4>Build factories</h4>
								</div>
								<div class="form-group">
									<div class="factory-slot" ng-repeat="i in getNumber(selectedPlanet.factorySite.factoryCount) track by $index">
										<img src="resources/img/factory.svg" height="19px" width="19px">
									</div>
									<div class="factory-slot" ng-repeat="i in getNumber(selectedPlanet.factorySite.availableSlots) track by $index">
										&nbsp;
									</div>
								</div>
								<div class="form-group">
									<button ng-click="buildFactory(selectedPlanet)" ng-disabled="selectedPlanet.factorySite.availableSlots==0 || !game.me.canAffordFactory" class="btn btn-default">Build Factory</button>
								</div>
								<form name="sendShipsForm">
									<div class="form-group">
										<h4>Send ships to other planets</h4>
									</div>
									<div class="form-group">
										<button ng-click="setShipCount(1)" ng-disabled="shipCount<=1" class="btn btn-default">one</button>
										<button ng-click="setShipCount(shipCount-1)" ng-disabled="shipCount==0" class="btn btn-default">-</button>
										<input type="number" name="ships" ng-model="shipCount" min="1" max="{{selectedPlanet.shipCount}}">
										<button ng-click="setShipCount(shipCount+1)" ng-disabled="shipCount==selectedPlanet.shipCount" class="btn btn-default">+</button>
										<button ng-click="setShipCount(selectedPlanet.shipCount)" ng-disabled="shipCount==selectedPlanet.shipCount" class="btn btn-default">all</button>
									</div>
									<div class="form-group">
										<button class="btn btn-default" ng-click="shipDestinationSelection()" ng-disabled="shipCount==0 || !sendShipsForm.ships.$valid">
											Send {{shipCount}} ships to...
										</button>
									</div>
								</form>
							</div>
						</div></div>
					</div>
				</div>
				
				<div id="copyright">&copy; Stefan Pries 2015</div>
			</div>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-touch.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-cookies.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.js"></script>
	<script src="resources/js/controllers.js"></script>
	<script src="resources/js/services.js"></script>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
		ga('create', 'UA-61031970-1', 'auto');
		ga('send', 'pageview');
	</script>
</body>
</html>