<!doctype html>
<html lang="en" ng-app="fleetCommanderApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<title>Fleet Commander</title>
	
	<link rel="shortcut icon" href="resources/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="resources/img/favicon.ico" type="image/x-icon">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="resources/css/layout.css">
</head>
<body ng-controller="GamesCtrl">
	<div class="outer">
		<div class="middle">
			<div id="game-box" class="inner">
				<h1>Fleet Commander</h1>
				
				<div ng-hide="isIngame">
					<p>
						Conquer the universe by growing your own fleet of space fighters
						to invade other player's planets in this turn-based strategy game!
					</p>
					<p>
						You win the game by defeating your opponent fleet commanders
						by taking over their home planets!
					</p>
					
					<button class="btn btn-default" ng-click="resumeGame()" ng-if="hasActiveGame()">{{'Resume game'}}</button>
					<button class="btn btn-default" ng-click="startGame()">Start new game!</button>
				</div>
				
				<div ng-show="isIngame">
					<div class="game-menu">
						<button class="btn btn-default" ng-click="endTurn()" ng-disabled="blockingActionInProgress">End turn</button>
						<button class="btn btn-default" ng-click="quitGame()">Quit game</button>
					</div>
					<div class="game-status-bar">
						<span>{{runningGame.players[0].name}}</span>
						<span class="pull-right">Credits: {{runningGame.players[0].credits}}</span>
					</div>
					<div id="universe">
						<div class="planet" ng-repeat="planet in runningGame.universe.planets" ng-click="clickPlanetHandler(planet)"
								style="top: {{planet.y / 100 * 334 - 7}}px; left: {{planet.x / 100 * 524 - 8}}px;">
							
							<div class="planet-icon">
								<span class="glyphicon glyphicon-globe"></span>
							</div>
							
							<div class="planet-annotation planet-annotation-top-left" ng-if="planet.inhabited==true">
								<span class="glyphicon glyphicon-flag"></span>
							</div>
							<div class="planet-annotation planet-annotation-top-right" ng-if="planet.homePlanet==true">
								<span class="glyphicon glyphicon-home"></span>
							</div>
							<div class="planet-annotation planet-annotation-bottom-left" ng-if="planet.incomingShipCount>0">
								<span class="glyphicon glyphicon-share-alt"></span><br/>{{planet.incomingShipCount}}
							</div>
							<div class="planet-annotation planet-annotation-bottom-right" ng-if="planet.shipCount>0">
								{{planet.shipCount}}
							</div>
						</div>
						
						<div id="selectPlanetNote" ng-show="destinationSelectionActive">
							Select a destination planet...
						</div>
						
						<div class="outer" ng-show="showPlanetMenu"><div class="middle">
							<div id="planetMenu"class="inner form-horizontal">
								<button id="closePlanetMenuBtn" ng-click="showPlanetMenu=false" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<div class="form-group">
									<h4>Build factories</h4>
								</div>
								<div class="form-group">
									<div class="factorySlot" ng-repeat="i in getNumber(selectedPlanet.factorySite.factoryCount) track by $index">
										<img src="resources/img/factory.svg">
									</div>
									<div class="factorySlot" ng-repeat="i in getNumber(selectedPlanet.factorySite.availableSlots) track by $index">
										&nbsp;
									</div>
								</div>
								<div class="form-group">
									<button ng-click="setShipCount(0)" ng-disabled="shipCount==0" class="btn btn-default">Build Factory</button>
								</div>
								<form name="sendShipsForm">
									<div class="form-group">
										<h4>Send ships to other planets</h4>
									</div>
									<div class="form-group">
										<button ng-click="setShipCount(1)" ng-disabled="shipCount<=1" class="btn btn-default">one</button>
										<button ng-click="setShipCount(shipCount-1)" ng-disabled="shipCount==0" class="btn btn-default">-</button>
										<input type="number" name="ships" ng-model="shipCount" min="1" max="{{selectedPlanet.shipCount}}">
										<button ng-click="setShipCount(shipCount+1)" ng-disabled="shipCount==selectedPlanet.shipCount" class="btn btn-default">+</button>
										<button ng-click="setShipCount(selectedPlanet.shipCount)" ng-disabled="shipCount==selectedPlanet.shipCount" class="btn btn-default">all</button>
									</div>
									<div class="form-group">
										<button class="btn btn-default" ng-click="shipDestinationSelection()" ng-disabled="shipCount==0 || !sendShipsForm.ships.$valid">
											Send {{shipCount}} ships to...
										</button>
									</div>
								</form>
							</div>
						</div></div>
					</div>
				</div>
				
				<div id="copyright">&copy; Stefan Pries 2015</div>
			</div>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-cookies.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.js"></script>
	<script src="resources/js/controllers.js"></script>
	<script src="resources/js/services.js"></script>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
		ga('create', 'UA-61031970-1', 'auto');
		ga('send', 'pageview');
	</script>
</body>
</html>